export DASHBOARD_NAME=kam-dashboard
export IMAGE_NAME=s2i-kam-dashboard
export NAMESPACE_NAME=kam
export OC_PROJECT=kam
export REPLICAS=1
export ROUTE_NAMESPACE=redhat-ods-applications
export TAG_NAME=v0.0.1
